header
{
    font-size: x-large;
    color : red;
    background-color: black;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color:red;
    border-width: 20px;

}
body
{
    background-color:black;
    color:white;
    
}
.tablita
{
    border-style: solid;
    border-color: blue;
}
.columnas
{
    font-size: 25px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.container > div
{
    background-color: goldenrod;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}



    
