header
{
    font-size: x-large;
    color : red;
    background-color:black;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color:red;
    border-width: 20px;

}
body
{
    background-color: #fff0f0;
    color: black;
    
}
.tablita
{
    border-style: solid;
    border-color: blue;
}
.columnas
{
    font-size: 25px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.container > div
{
    background-color: goldenrod;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
.web
{
    color: red;
    float: left;
    list-style: none;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}
nav
{
    float: initial;
}
a
{
    text-decoration: none;
    font-family: fantasy;
    color: white;
}
li:hover a
{
    color: red;
}

}
.footer .footer-content .links ul a:hover
{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-content .contact-form .contact-input
{
    background-color: #e7e7de;
    color: cornsilk;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    border: 1px solid black;
}
.footer .footer-content .contact-form .contact-input:focus
{
    background-color: black;
}

.footer .footer-bottom
{
    color: white;
    background-color:black;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}    
