header
{
    font-size: x-large;
    color : red;
    background-color:black;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-bottom-width: 10px;
    border-bottom-color:red;
    border-width: 20px;

}
body
{
    background-color: #fff0f0;
    color: black;
    
}
.tablita
{
    border-style: solid;
    border-color: blue;
}
.columnas
{
    font-size: 25px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.container > div
{
    background-color: goldenrod;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
<<<<<<< HEAD
.web
{
    color: red;
    float: left;
    list-style: none;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}
nav
{
    float: initial;
}
a
{
    text-decoration: none;
    font-family: fantasy;
    color: white;
}
li:hover a
{
    color: red;
}
=======

.footer
{
    background-color: #4c4c4c;
    color: white;
    height: 300px;
    position: relative;
}
.footer .footer-content
{
    border: 1px solid red;
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    
}
.footer .footer-content h1,
.footer .footer-content h2
{
    color: white;
}
.footer .footer-content .about h1 span
{
    color: #32e0c4;
}
.footer .footer-content .about .contacto span
{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .about .sociales a
{
    border: 1px solid   grey;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;

}
.footer .footer-content .about .sociales a:hover
{
    border: 1px solid white;
    color: white;
    transition: all .3s;
}
.footer .footer-content .links ul a
{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color:wheat;
    transition: all .3s;
>>>>>>> px-footer

}
.footer .footer-content .links ul a:hover
{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .footer-content .contact-form .contact-input
{
    background-color: #e7e7de;
    color: cornsilk;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    border: 1px solid black;
}
.footer .footer-content .contact-form .contact-input:focus
{
    background-color: black;
}

.footer .footer-bottom
{
    color: white;
    background-color:black;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}    
